.tooltip {
	position:absolute;
	z-index:10;
	background-color:rgba(255,255,255,0.8);
	border:1px solid rgba(0,0,0,0.5);
	border-radius:.2em;
	padding:3px;
	font-family:'Source Code Pro','Lucida Console',Monaco,monospace;
	font-size:14px;
	pointer-events:none;
	opacity:0;
}
