<div class="jumbotron ng-scope">
  <h1>Visualisation Gallery of LIB</h1>

  <p class="lead">
    At the Laboratory for Integrated Bioinformatics, we develop computational tools and databases for the analysis of various large-scale datasets. Our goal is to create easy-to-use tools capable of efficiently processing, analyzing and visualizing data from a variety of sources, with an emphasis on metagenomics. We also provide some centralized bioinformatics support for other research laboratories in the center, and together we are developing an integrated database and sample-tracking system for the storage, distribution, and analysis of various types of experimental data.
  </p>

  <div class="btn-group">
    <a href="http://metasystems.riken.jp/" class="btn btn-primary btn">
      <i class="fa fa-home" aria-hidden="true"></i>
      The Lab
    </a>
    <a href="https://github.com/Hypercubed/Project-chi" class="btn btn-primary btn">
      <i class="fa fa-cog" aria-hidden="true"></i>
      The Toolkit
    </a>
  </div>

</div>
